</div>
</div>
</div>
<br>
<br>
<br>
<hr>
<p class="text-center">&COPY; EcoCycle</p>
<!-- If you change the order of the scripts below, you shall go to hell -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>  <!-- first -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script><!-- second --> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" ></script> <!-- third -->

<script src="/js/main.js"></script> 


  </body>
</html>