</div>
</div>
</div>
<br>
<br>
<br>
<hr>
<footer class="mt-5 py-5">
    <div class="row container mx-auto pt-5">
      <div class="footer-one col-lg-3 col-md-6 col-md-12">
        <img src="/im/Logo/LOGO.jpg" alt="">
        <p class="pt-3">Any thing about eco cyle in 1-2 lines.</p>
      </div>
      <div class="footer-one col-lg-3 col-md-6 col-md-12 mb-3">
        <h5 class="pb-2">Featured</h5>
        <ul class="text-uppercase list-unstyled" style="color:darkslateblue">
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">new arrivals</a></li>
        </ul>
      </div>
      <div class="footer-one col-lg-3 col-md-6 col-md-12 mb-3">
        <h5 class="pb-2">Cntact Us</h5>
        <div>
          <h6 class="taext-upercase">Address</h6>
          <p>123 STREET NAME, CITY, COUNTRY</p>
        </div>
        <div>
          <h6 class="taext-upercase">Phone</h6>
          <p>(123) 123-4567</p>
        </div>
        <div>
          <h6 class="taext-upercase">Email</h6>
          <p>ecocycle13@gmail.com</p>
        </div>
      </div>

      <div class="footer-one col-lg-3 col-md-6 col-md-12">
        <h5 class="pb-2">Instagram</h5>
        <div class="row">
          <img class="img-fluid w-25 h-100 m-2" src="/im/footer inst img/f1.png" alt="">
          <img class="img-fluid w-25 h-100 m-2" src="/im/footer inst img/f2.png" alt="">
          <img class="img-fluid w-25 h-100 m-2" src="/im/footer inst img/f3.png" alt="">
          <img class="img-fluid w-25 h-100 m-2" src="/im/footer inst img/f4.png" alt="">
          <img class="img-fluid w-25 h-100 m-2" src="/im/footer inst img/f5.png" alt="">
        </div>
      </div>
    </div>  

    <div class="copyright mt-5">
      <div class="row container mx-auto">

        <div class="col-lg-3 col-md-6 col-12 mb-4">
          <img src="im/footer/payment.png" alt="payment options">
        </div>
        <div class="col-lg-4 col-md-6 col-12  text-nowrap mb-2">
          <p>Eco Cycle Web-Development © 2023. All Rights Reserved</p>
        </div> 
        <div class="col-lg-4 col-md-6 col-12">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
</footer>

<!-- If you change the order of the scripts below, you shall go to hell -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>  <!-- first -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script><!-- second --> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" ></script> <!-- third -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
<script src="/js/main.js"></script> 


  </body>
</html>