<%- include('_layouts/header'); %>


<section id="blog-home" class="pt-5 mt-5 container">
    <h2 class="font-weight-bold pt-5">Blogs</h2>
    <hr>
  </section>

  <section id="blog-container" class="container pt-5">
    <div class="row">
        <div class="post col-lg-6 col-md-6 col-12 pb-5">
            <div class="post-img">
                <img onclick="window.location.href='https://www.epa.gov/recycle';" class="img-fluid w-100" style="cursor: pointer;" src="/im/blog/1 (1).jpg" alt="">
            </div>
            <h3 class="text-center font-weight-normal pt-3">"The Benefits of Recycling: Why We Should All Make an Effort"</h3>
            <p class="text-center">Jan 20,2023</p>
        </div>
        <div class="post col-lg-6 col-md-6 col-12 pb-5">
            <div class="post-img">
                <img onclick="window.location.href='https://www.epa.gov/recycle';" class="img-fluid w-100" style="cursor: pointer;" src="/im/blog/1 (2).jpg" alt="">
            </div>
            <h3 class="text-center font-weight-normal pt-3">"How Recycling Can Help Fight Climate Change"</h3>
            <p class="text-center">Feb 23,2022</p>
        </div>
        <div class="post col-lg-6 col-md-6 col-12 pb-5">
            <div class="post-img">
                <img onclick="window.location.href='https://www.epa.gov/recycle';" class="img-fluid w-100" style="cursor: pointer;" src="/im/blog/6.jpg" alt="">
            </div>
            <h3 class="text-center font-weight-normal pt-3">"The Economics of Recycling: How Does It Impact Your Wallet?"</h3>
            <p class="text-center">March 11,2022</p>
        </div>
        <div class="post col-lg-6 col-md-6 col-12 pb-5">
            <div class="post-img">
                <img onclick="window.location.href='https://www.epa.gov/recycle';" class="img-fluid w-100" style="cursor: pointer;" src="/im/blog/7.jpg" alt="">
            </div>
            <h3 class="text-center font-weight-normal pt-3">"Recycling at Work: Tips for Making Your Office More Sustainable"</h3>
            <p class="text-center">Jan 13,2023</p>
        </div>

        <div class="post col-lg-4 col-md-6 col-12 pb-5">
            <div class="post-img">
                <img onclick="window.location.href='https://www.epa.gov/recycle';" class="img-fluid w-100" style="cursor: pointer;" src="/im/blog/6.jpg" alt="">
            </div>
            <h4 class="font-weight-normal pt-3">"Recycling Myths Debunked: Separating Fact from Fiction"</h4>
        </div>
        <div class="post col-lg-4 col-md-6 col-12 pb-5">
            <div class="post-img">
                <img onclick="window.location.href='https://www.epa.gov/recycle';" class="img-fluid w-100" style="cursor: pointer;" src="/im/blog/6.jpg" alt="">
            </div>
            <h4 class="font-weight-normal pt-3">"7 Surprising Items You Didn't Know You Could Recycle"</h4>
        </div>
        <div class="post col-lg-4 col-md-6 col-12 pb-5">
            <div class="post-img">
                <img onclick="window.location.href='https://www.epa.gov/recycle';" class="img-fluid w-100" style="cursor: pointer;" src="/im/blog/6.jpg" alt="">
            </div>
            <h4 class="font-weight-normal pt-3">"From Trash to Treasure: Inspiring Stories of Upcycling and Creative Reuse."</h4>
        </div>
    </div>
  </section>


<%- include('_layouts/footer'); %>
