  <%- include('_layouts/header'); %>

	<h1>Hi <%= name %> </h1>

	<br>
	<br>
	<br>

 	<h3> 
 		<a href="/auth/login"> Login </a>
 	</h3>
 	<h3> 
 		<a href="/auth/register"> Register </a>
 	</h3>
 	<h3> 
 		<a href="/auth/logout"> Logout </a>
 	</h3>

<%- include('_layouts/footer'); %>
