<head>
	<title>INDEX Page</title>
</head>

<body>
	
	<h1>Hi <%= name %> </h1>

	<br>
	<br>
	<br>
	
 	<h2> 
 		<a href="/auth/login"> Login </a>
 	</h2>
 	<h2> 
 		<a href="/auth/register"> Register </a>
 	</h2>

</body>