<head>
	<title>LOGIN Page</title>
</head>

<body>
	
	<h1>Login </h1>

	 <form action="/auth/login" method="POST">  <!--this will make a POST request to /register i.e When you click the submit button the request will be made to app.post('/login') in the user.js -->
		<div>
			<label for="email">Email</label>
			<input type="email" name="email" id="email" required>
		</div>
		<div>
			<label for="password">password</label>
			<input type="password" name="password" id="password" required>
		</div>

		<button type="submit">Login</button>
	</form>
	<a href="/auth/register">register</a>


</body>