<head>
	<title>REGISTER Page</title>
</head>

<body>
	
	<h1>Register</h1>

	 <form action"/auth/register" method="POST">  <!--this will make a POST request to /register i.e When you click the submit button the content of the form will be sent to router.post('/register') in the app.js -->
		<div>
			<label for="name">Name</label>
			<input type="name" value="<%= user.name %>" name="name" id="name" required>
		</div>
		<div>
			<% if (error) { %>
				<div> <%= error %> </div>
			<% } %>

			<label for="email">Email</label>
			<input type="email" value="<%= user.email %>" name="email" id="email" required>
		</div>
		<div>
			<label for="password">password</label>
			<input type="password" value="<%= user.password %>" name="password" id="password" required>
		</div>

		<button type="submit">Register</button>
	</form>
    <a href="/auth/login">Log-in</a>  <!--login.ejs will be opened that is in the same directory-->


</body>